{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Restaurante</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Cadastro de Restaurante</h1>

    <form method="POST" action="{% url 'cadastroRestaurante' %}">
    {% csrf_token %}

    <!-- Exemplo rápido: tudo em blocos <p> -->
    {{ form.as_p }}

        <button type="submit">Cadastrar Restaurante</button>
    </form>
</body>
</html>
