{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Ícone do usuário -->
     <div class="logout-container">
    <img src="{% static 'images/white version/user.png' %}" alt="error" height="75px" width="75px" style="display: flex; margin:auto; margin-bottom: 55px; margin-top: 90px;">
<div style="font-size: 30px; color:white; margin-top: -30px;margin-bottom: 10px;">
</div>
    <!-- Botão de sair abaixo do ícone -->
    
      <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="sair-btn">
          <img src="{% static 'images/logout.png' %}" alt="error" height="15px" width="15px">
          Sair
        </button>
      </form>
    </div>

    <!-- Links do menu -->

    <label>Navegeção</label>
    <hr>

    {% if pode_ver_dashboard %}
    <a href="{% url 'relatorio' %}">
      <img src="{% static 'images/white version/dash.png' %}" height="25" width="25" style="margin-right: 10px;margin-left: 10px;"> Dashboard
    </a>
    {% endif %}

    {% if pode_ver_refeicoes %}
    <a href="{% url 'listar_registros' %}">
      <img src="{% static 'images/white version/alim.png' %}" height="25" width="25" style="margin-right: 10px;margin-left: 10px;"> Refeições
    </a>
    {% endif %}

    {% if pode_ver_colaboradores %}
    <a href="{% url 'listar-colaboradores' %}">
      <img src="{% static 'images/white version/func.png' %}" height="25" width="25" style="margin-right: 10px;margin-left: 10px;"> Colaboradores
    </a>
    {% endif %}

    {% if pode_ver_restaurantes %}
      <a href="{% url 'listar-restaurantes' %}">
        <img src="{% static 'images/white version/rest.png' %}" height="25" width="25" style="margin-right: 10px;margin-left: 10px;"> Restaurantes
      </a>
    {% endif %}

    {% if pode_ver_obras %}
    <a href="{% url 'listar-obras' %}">
      <img src="{% static 'images/white version/obra.png' %}" height="25" width="25" style="margin-right: 10px;margin-left: 10px;"> Obras
    </a>
    {% endif %}

     {% if pode_ver_hoteis %}
    <a href="{% url 'listar-hoteis' %}">
      <img src="{% static 'images/white version/hotel.png' %}" height="25" width="25" style="margin-right: 10px;margin-left: 10px;"> Hotéis
    </a>
    {% endif %}

    {% if pode_ver_usuarios %}
    <a href="{% url 'cadastrar_usuario' %}">
      <img src="{% static 'images/white version/usuario.png' %}" height="25" width="25" style="margin-right: 10px;margin-left: 10px;"> Usuários
    </a>
    {% endif %}

  </div>
<div class="corpo">
  <!-- Conteúdo principal -->
  <img src="{% static 'images/paintocode.png' %}" alt="erro" style="position: fixed; bottom: 0; right: 0; width: 130px; height: 37px; margin-right: 5px;">
  <h style="display: flex; align-items: center; justify-content: center; height: 100vh; font-size: 60px; color: #004aad; margin-left: 250px;">
    SEJA BEM-VINDO(A) {{ username_maiusculo }}
  </h>
  </div>
</body>
</html>
