{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Colaboradores</title>
  <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>

<body>
  <!-- Sidebar -->
  
  <div class="sidebar">
    <!-- Ícone do usuário -->
     <div class="logout-container">
    <img src="{% static 'images/white version/user.png' %}" alt="error" height="75px" width="75px" style="display: flex; margin:auto; margin-bottom: 55px; margin-top: 90px;">
<div style="font-size: 30px; color:white; margin-top: -30px;margin-bottom: 10px;">
    {{ username_maiusculo }}
</div>
    <!-- Botão de sair abaixo do ícone -->
    
      <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="sair-btn">
          <img src="{% static 'images/logout.png' %}" alt="error" height="15px" width="15px">
          Sair
        </button>
      </form>
    </div>

    <!-- Links do menu -->

    <label>Navegeção</label>
    <hr>
    <a href="{% url 'relatorio' %}">
      <img src="{% static 'images/white version/dash.png' %}" alt="error" height="25px" width="25px" style="margin-right: 10px;margin-left: 10px;">
      Dashboard
    </a>

     <a href="{% url 'listar_pedidos' %}">
      <img src="{% static 'images/white version/alim.png' %}" alt="error" height="25px" width="25px" style="margin-right: 10px;margin-left: 10px;">
      Refeições
    </a>

    <a href="{% url 'listar-colaboradores' %}" class="active">
      <img src="{% static 'images/white version/func.png' %}" alt="error" height="25px" width="25px" style="margin-right: 10px;margin-left: 10px;">
      Colaboradores
    </a>

    <a href="{% url 'listar-restaurantes' %}">
      <img src="{% static 'images/white version/rest.png' %}" alt="error" height="25px" width="25px" style="margin-right: 10px;margin-left: 10px;">
      Restaurantes
    </a>

    <a href="{% url 'listar-obras' %}">
      <img src="{% static 'images/white version/obra.png' %}" alt="error" height="25px" width="25px" style="margin-right: 10px;margin-left: 10px;">
      Obras
    </a>

    <a href="{% url 'listar-hoteis' %}">
      <img src="{% static 'images/white version/hotel.png' %}" alt="error" height="25px" width="25px" style="margin-right: 10px;margin-left: 10px;">
      Hotéis
    </a>


    <a href="{% url 'cadastrar_usuario' %}">
      <img src="{% static 'images/white version/usuario.png' %}" alt="error" height="25px" width="25px" style="margin-right: 10px;margin-left: 10px;">
      Usuários
    </a>

    
  </div>

  <!-- Conteúdo principal -->
  <img src="{% static 'images/paintocode.png' %}" alt="erro" style="position: fixed; bottom: 0; right: 0; width: 130px; height: 37px; margin-right: 5px;">

<div class="corpo">
<a href="{% url 'cadastro' %}">
    <img src="{% static 'imagens/blue_version/plus.png' %}" alt="error" height="20px" width="20px" style="margin-right: 10px;margin-left: 10px;">
    CADASTRAR COLABORADOR
  </a>
  </div>